{% load like %}
{% is_liked_message message_id as is_liked_bool %}
{% count_likes_message message_id as likes_counter %}
{% is_disliked_message message_id as is_disliked_bool %}
{% count_dislikes_message message_id as dislikes_counter %}

{% if is_liked_bool %}
    {% message_likes_id message_id as message_likes_id %}
{% endif %}
{% if is_disliked_bool %}
    {% message_dislikes_id message_id as message_dislikes_id %}
{% endif %}

<form style="float: left" action="{% if not is_liked_bool %}{% url 'add-message-like' %}{% else %}{% url 'remove-message-like' %}{% endif %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="message_id" value="{{ message_id }}">
    <input type="hidden" name="user_id" value="{{ request.user.id }}">
    <input type="hidden" name="url_form" value="{{ request.path }}">

    {% if is_liked_bool %}
        <input type="hidden" name="message_likes_id" value="{{ message_likes_id }}">
    {% endif %}

    <button type="submit" class="btn">
        {% if not is_liked_bool %}
            <span class="material-icons text-secondary">
                thumb_up
            </span>
        {% else %}
            <span class="material-icons text-danger">
                thumb_up
            </span>
        {% endif %}
        <span class="likes-qty">{{ likes_counter }}</span>
    </button>
</form>
<form action="{% if not is_disliked_bool %}{% url 'add_message_dislike' %}{% else %}{% url 'remove_message_dislike' %}{% endif %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="message_id" value="{{ message_id }}">
    <input type="hidden" name="user_id" value="{{ request.user.id }}">
    <input type="hidden" name="url_form" value="{{ request.path }}">

    {% if is_disliked_bool %}
        <input type="hidden" name="message_dislikes_id" value="{{ message_dislikes_id }}">
    {% endif %}

    <button type="submit" class="btn">
        {% if not is_disliked_bool %}
            <span class="material-icons text-secondary">
                thumb_down
            </span>
        {% else %}
            <span class="material-icons text-danger">
                thumb_down
            </span>
        {% endif %}
        <span class="likes-qty">{{ dislikes_counter }}</span>
    </button>
</form>
<br>
