{% extends 'base.html' %}
{% block title %}Change company{% endblock %}

{% block content %}
{% load static %}

<div class="container" style="padding-bottom: 30px">
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ company_form }}
            {{ formset_email }}
            {{ formset_phone }}
            <input type="hidden" name="user" value="{{ request.user.id }}">
        </table>
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
