{% extends 'base.html' %}
{% block title %}Message list of company{% endblock %}

{% block content %}

       <div class="container">
            <div class="row">
              {% for message in messages %}
                  <div class="media border p-3" style="margin-bottom: 15px">
{#                      <img src="" alt="manager-photo" class="mr-3 mt-3 rounded-circle" style="width:60px;">#}
                      <div class="media-body">
                        <h4>manager: {{ message.manager }} <small><i class="text-muted">posted on {{ message.created }}</i></small></h4>
                        <div class="text-muted">project company: {{ message.project.company }} -- project: {{ message.project }}</div>
                        <div class="text-muted">communication options: {{ message.communication_options }}</div>
                        <p>{{ message.message | safe | striptags| linebreaks }}</p>
                        <a href="{% url 'message_detail' message.pk %}">
                            <button type="button" class="btn btn-primary" style="margin-left: 15px; float: right">
                                detail commit
                            </button>
                        </a>
                        {% include 'add_like_message.html' with message_id=message.pk %}
                      </div>
                  </div>
{#                <div class="container bg-$gray-200" style="margin-top: 15px">#}
{#                    <p>manager: {{ message.manager }} -- company: {{ message.project.company }} -- project: {{ message.project }}</p>#}
{#                    <p class="text-muted">message created: {{ message.created }}</p>#}
{#                    <p class="text-muted">communication options: {{ message.communication_options }}</p>#}
{#                    <p>{{ message.message | safe | striptags| linebreaks }}</p>#}
{#                    <a href="{% url 'message_detail' message.pk %}">#}
{#                        <button type="button" class="btn btn-primary" style="margin-left: 15px; float: right">#}
{#                            detail commit#}
{#                        </button>#}
{#                    </a>#}
{#                    {% include 'add_like_message.html' with message_id=message.pk %}#}
{#                </div>#}
                  <br>
                <br>
              {% endfor %}
            </div>
       </div>

{% endblock %}