    <nav class="navbar navbar-expand-md navbar-light bg-dark" style="padding-top: 15px">
        <a class="navbar brand nav-link " href="{% url 'home' %}"><span class="material-icons material-icons md-48 text-success">business_center</span></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"><span class="navbar-toggler-icon"></span></button>
        <div id="navbar" class="collapse navbar-collapse justify-content-between">
            <ul class="navbar-nav">
            {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">
                            Create
                        </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'company-create' %}">create company</a></li>
                                <li><a class="dropdown-item" href="{% url 'project-create' %}">create project</a></li>
                            </ul>
                    </li>
            {% endif %}
            {% for group in  request.user.groups.all %}
                {% if group.name == 'manager' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">
                            Create
                        </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'company-create' %}">create company</a></li>
                                <li><a class="dropdown-item" href="{% url 'project-create' %}">create project</a></li>
                            </ul>
                    </li>
                {% endif %}
            {% endfor %}
                {% if request.user.is_authenticated  %}
                    <li class="nav-item">
                        <span class="nav-link text-light text-uppercase font-weight-bold px-3">
                            <a href="{% url 'personal-area' %}">Welcome, {{ request.user.first_name }}!</a> <i class="material-icons cart-icon">account_circle</i>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'logout' %}">
                            Sign Out <i class="material-icons cart-icon">logout</i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'login' %}">
                            Log In <i class="material-icons cart-icon">login</i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>