{% extends 'base.html' %}
{% block title %}{{ project.name }}{% endblock %}
{% block content %}

{% if not page_obj.has_previous %}
    <div class="container mx-auto" style="margin: 15px">
    <h1 class="text-center">{{ project.name }}</h1>
            <br>
            <h3>Performing company: <a href="{% url 'company_detail' project.company.pk %}">{{ project.company.name }}</a></h3>
            <br>
            <h3 class="text-center">About project</h3>
            <br>
            <p class="text-center">{{ project.description | safe | striptags| linebreaks }}</p>
            <div class="text-muted">Start dates: <b class="text-dark">{{ project.start_dates }}</b></div>
            <div class="text-muted">Deadline: <b class="text-dark">{{ project.deadline }}</b></div>
            <br>
            <div class="text-muted">Price: <b class="text-dark">${{ project.price }}</b></div>
    </div>
{% endif %}
<div class="container">
 <h3>Comments: </h3>
    <div class="container" style="padding-bottom: 30px">
        <form action="{% url 'message_create' project.pk %}" method="post">
            {% csrf_token %}
            <table>
                <tr>Your new comment:<br>{{ message_form.message }}</tr>
                <br><tr>communication options: {{ message_form.communication_options }}</tr>
            </table>
            <input type="submit" value="Submit" />
        </form>
    </div>

    <br>
{% if object_list %}
  <div class="row" style="padding: 50px;">
    <form method="get">
      <input name="search" type="text" placeholder="Search comments...">
      <input type="submit" />
    </form>
  </div>

  <div class="row">
    {% for message in object_list %}
    <div class="media border p-3" style="margin-bottom: 15px">
            <div class="media-body">
            <h4>manager: {{ message.manager }} <small><i class="text-muted">posted on {{ message.created }}</i></small></h4>
            <div class="text-muted">project company: {{ message.project.company }} -- project: {{ message.project }}</div>
            <div class="text-muted">communication options: {{ message.communication_options }}</div>
            <p>{{ message.message | safe | striptags| linebreaks | slice:':400' }}</p>
            <a href="{% url 'message_detail' message.pk %}">
                <button type="button" class="btn btn-primary" style="margin-left: 15px; float: right">
                    detail commit
                </button>
            </a>
            {% include 'add_like_message.html' with message_id=message.pk %}
        </div>
    </div>
    {% endfor %}
  </div>
{% endif %}
</div>

{% endblock %}